body{
  background-image: linear-gradient(190deg,rgb(169, 220, 235),rgb(237, 237, 121),rgb(134, 241, 134));
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 200vh;
  min-height: 100vh;
}

.login-container {
  color:darkred;
    max-width: 350px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-container button[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #5eff00;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button[type="submit"]:hover {
    background-color: #cdeb22;
  }

  .login-container button[type="submit"]:disabled {
    background-color: #b0b1b1;
  }
